@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-next,
.slick-prev {
  display: none;
}
body {
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: calc(var(--swiper-navigation-size) / 44 * 44);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  border-radius: 100%;
  cursor: pointer;
  z-index: 10;
}
.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  font-size: 15px;
  color: black;
}

.marquee-main > div {
  animation: linear infinite;
}
